@font-face {
  font-family: "icons";
  src: url('icons.woff2') format('woff2'),
       url('icons.woff') format('woff');
}

.icon:before {
font-family: "icons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
font-style: normal;
font-variant: normal;
font-weight: normal;
/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
text-decoration: none;
text-transform: none;
}


.icon-01-thermometer:before {
content: "\E001";
}

.icon-02-time:before {
content: "\E002";
}

.icon-03-arrow-right:before {
content: "\E003";
}

.icon-04-arrow-left:before {
content: "\E004";
}

.icon-05-arrow-up:before {
content: "\E005";
}

.icon-06-arrow-down:before {
content: "\E006";
}

.icon-07-chevron-right:before {
content: "\E007";
}

.icon-08-chevron-left:before {
content: "\E008";
}

.icon-09-chevron-up:before {
content: "\E009";
}

.icon-10-chevron-down:before {
content: "\E00A";
}

.icon-11-star-fill:before {
content: "\E00B";
}

.icon-12-star-outline:before {
content: "\E00C";
}

.icon-13-circle-arrow-right:before {
content: "\E00D";
}

.icon-14-circle-arrow-left:before {
content: "\E00E";
}

.icon-15-circle-arrow-up:before {
content: "\E00F";
}

.icon-16-circle-arrow-down:before {
content: "\E010";
}

.icon-17-social-instagram:before {
content: "\E011";
}

.icon-18-social-twitter:before {
content: "\E012";
}

.icon-19-social-facebook:before {
content: "\E013";
}

.icon-20-social-pinterest:before {
content: "\E014";
}

.icon-21-social-youtube:before {
content: "\E015";
}

.icon-22-search:before {
content: "\E016";
}

.icon-23-search-thin:before {
content: "\E017";
}

.icon-24-clock:before {
content: "\E018";
}

.icon-25-comment:before {
content: "\E019";
}

.icon-26-pointer:before {
content: "\E01A";
}

.icon-27-repeat:before {
content: "\E01B";
}

.icon-28-reload:before {
content: "\E01C";
}

.icon-29-flower:before {
content: "\E01D";
}

.icon-30-fruit:before {
content: "\E01E";
}

.icon-31-car:before {
content: "\E01F";
}

.icon-32-user:before {
content: "\E020";
}

.icon-33-caffeine:before {
content: "\E021";
}

.icon-34-caffeine:before {
content: "\E022";
}

.icon-35-play:before {
content: "\E023";
}

.icon-36-minus:before {
content: "\E024";
}

.icon-37-plus:before {
content: "\E025";
}

.icon-38-cup:before {
content: "\E026";
}

.icon-38-social-tumblr:before {
content: "\E027";
}

.icon-39-social-googleplus:before {
content: "\E028";
}

.icon-40-social-email:before {
content: "\E029";
}

.icon-41-social-print:before {
content: "\E02A";
}

.icon-42-social-facebook-letter:before {
content: "\E02B";
}

.icon-43-map-marker:before {
content: "\E02C";
}

.icon-44-hotspot:before {
content: "\E02D";
}

.icon-45-cup-capacity:before {
content: "\E02E";
}

.icon-46-teaspoon:before {
content: "\E02F";
}

.icon-47-brewing-clock:before {
content: "\E030";
}

.icon-48-spice:before {
content: "\E031";
}