@charset "UTF-8";
html, body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.clearfix::after {
  content: " ";
  clear: both;
  display: table;
}

[hidden] {
  display: none !important;
}

/* FLEXBOX GRID v6.3.2 CUSTOM SCSS SETUP (modified)
https://github.com/kristoferjoseph/flexboxgrid */
.container,
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;
}

.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -8px;
  margin-left: -8px;
}

.row.reverse {
  flex-direction: row-reverse;
}

.col.reverse {
  flex-direction: column-reverse;
}

.col-xs,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-offset-0,
.col-xs-offset-1,
.col-xs-offset-2,
.col-xs-offset-3,
.col-xs-offset-4,
.col-xs-offset-5,
.col-xs-offset-6,
.col-xs-offset-7,
.col-xs-offset-8,
.col-xs-offset-9,
.col-xs-offset-10,
.col-xs-offset-11,
.col-xs-offset-12 {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding-right: 8px;
  padding-left: 8px;
}

.col-xs {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.col-xs-1 {
  flex-basis: 8.33333333%;
  max-width: 8.33333333%;
}

.col-xs-2 {
  flex-basis: 16.66666667%;
  max-width: 16.66666667%;
}

.col-xs-3 {
  flex-basis: 25%;
  max-width: 25%;
}

.col-xs-4 {
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}

.col-xs-5 {
  flex-basis: 41.66666667%;
  max-width: 41.66666667%;
}

.col-xs-6 {
  flex-basis: 50%;
  max-width: 50%;
}

.col-xs-7 {
  flex-basis: 58.33333333%;
  max-width: 58.33333333%;
}

.col-xs-8 {
  flex-basis: 66.66666667%;
  max-width: 66.66666667%;
}

.col-xs-9 {
  flex-basis: 75%;
  max-width: 75%;
}

.col-xs-10 {
  flex-basis: 83.33333333%;
  max-width: 83.33333333%;
}

.col-xs-11 {
  flex-basis: 91.66666667%;
  max-width: 91.66666667%;
}

.col-xs-12 {
  flex-basis: 100%;
  max-width: 100%;
}

.col-xs-offset-0 {
  margin-left: 0;
}

.col-xs-offset-1 {
  margin-left: 8.33333333%;
}

.col-xs-offset-2 {
  margin-left: 16.66666667%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-4 {
  margin-left: 33.33333333%;
}

.col-xs-offset-5 {
  margin-left: 41.66666667%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-7 {
  margin-left: 58.33333333%;
}

.col-xs-offset-8 {
  margin-left: 66.66666667%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-10 {
  margin-left: 83.33333333%;
}

.col-xs-offset-11 {
  margin-left: 91.66666667%;
}

.start-xs {
  justify-content: flex-start;
  text-align: start;
}

.center-xs {
  justify-content: center;
  text-align: center;
}

.end-xs {
  justify-content: flex-end;
  text-align: end;
}

.top-xs {
  align-items: flex-start;
}

.middle-xs {
  align-items: center;
}

.bottom-xs {
  align-items: flex-end;
}

.around-xs {
  justify-content: space-around;
}

.between-xs {
  justify-content: space-between;
}

.first-xs {
  order: -1;
}

.last-xs {
  order: 1;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 736px;
  }
  .col-sm,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-offset-0,
.col-sm-offset-1,
.col-sm-offset-2,
.col-sm-offset-3,
.col-sm-offset-4,
.col-sm-offset-5,
.col-sm-offset-6,
.col-sm-offset-7,
.col-sm-offset-8,
.col-sm-offset-9,
.col-sm-offset-10,
.col-sm-offset-11,
.col-sm-offset-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: 8px;
    padding-left: 8px;
  }
  .col-sm {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }
  .col-sm-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }
  .col-sm-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }
  .col-sm-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
  .col-sm-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }
  .col-sm-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }
  .col-sm-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }
  .col-sm-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }
  .col-sm-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }
  .col-sm-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-sm-offset-0 {
    margin-left: 0;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .start-sm {
    justify-content: flex-start;
    text-align: start;
  }
  .center-sm {
    justify-content: center;
    text-align: center;
  }
  .end-sm {
    justify-content: flex-end;
    text-align: end;
  }
  .top-sm {
    align-items: flex-start;
  }
  .middle-sm {
    align-items: center;
  }
  .bottom-sm {
    align-items: flex-end;
  }
  .around-sm {
    justify-content: space-around;
  }
  .between-sm {
    justify-content: space-between;
  }
  .first-sm {
    order: -1;
  }
  .last-sm {
    order: 1;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    max-width: 960px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .col-md,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-offset-0,
.col-md-offset-1,
.col-md-offset-2,
.col-md-offset-3,
.col-md-offset-4,
.col-md-offset-5,
.col-md-offset-6,
.col-md-offset-7,
.col-md-offset-8,
.col-md-offset-9,
.col-md-offset-10,
.col-md-offset-11,
.col-md-offset-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: 8px;
    padding-left: 8px;
  }
  .col-md {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }
  .col-md-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }
  .col-md-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }
  .col-md-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-md-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
  .col-md-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }
  .col-md-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-md-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }
  .col-md-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }
  .col-md-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-md-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }
  .col-md-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }
  .col-md-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-md-offset-0 {
    margin-left: 0;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .start-md {
    justify-content: flex-start;
    text-align: start;
  }
  .center-md {
    justify-content: center;
    text-align: center;
  }
  .end-md {
    justify-content: flex-end;
    text-align: end;
  }
  .top-md {
    align-items: flex-start;
  }
  .middle-md {
    align-items: center;
  }
  .bottom-md {
    align-items: flex-end;
  }
  .around-md {
    justify-content: space-around;
  }
  .between-md {
    justify-content: space-between;
  }
  .first-md {
    order: -1;
  }
  .last-md {
    order: 1;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .container-fluid {
    padding-left: 24px;
    padding-right: 24px;
  }
  .row {
    margin-right: -12px;
    margin-left: -12px;
  }
  [class*="col-"] {
    padding-right: 12px;
    padding-left: 12px;
  }
  .col-lg,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-offset-0,
.col-lg-offset-1,
.col-lg-offset-2,
.col-lg-offset-3,
.col-lg-offset-4,
.col-lg-offset-5,
.col-lg-offset-6,
.col-lg-offset-7,
.col-lg-offset-8,
.col-lg-offset-9,
.col-lg-offset-10,
.col-lg-offset-11,
.col-lg-offset-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: 12px;
    padding-left: 12px;
  }
  .col-lg {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }
  .col-lg-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }
  .col-lg-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }
  .col-lg-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
  .col-lg-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }
  .col-lg-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }
  .col-lg-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }
  .col-lg-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }
  .col-lg-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }
  .col-lg-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-lg-offset-0 {
    margin-left: 0;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .start-lg {
    justify-content: flex-start;
    text-align: start;
  }
  .center-lg {
    justify-content: center;
    text-align: center;
  }
  .end-lg {
    justify-content: flex-end;
    text-align: end;
  }
  .top-lg {
    align-items: flex-start;
  }
  .middle-lg {
    align-items: center;
  }
  .bottom-lg {
    align-items: flex-end;
  }
  .around-lg {
    justify-content: space-around;
  }
  .between-lg {
    justify-content: space-between;
  }
  .first-lg {
    order: -1;
  }
  .last-lg {
    order: 1;
  }
}

@media only screen and (min-width: 1600px) {
  .container {
    max-width: 1250px;
  }
}

@media only screen and (min-width: 1900px) {
  .container {
    max-width: 1400px;
    padding-left: 28px;
    padding-right: 28px;
  }
  .container-fluid {
    padding-left: 28px;
    padding-right: 28px;
  }
  .row {
    margin-left: -14px;
    margin-right: -14px;
  }
  [class*="col-"] {
    padding-left: 14px;
    padding-right: 14px;
  }
}

@media only screen and (min-width: 768px) {
  .col-sm-fifth {
    max-width: 20%;
  }
}

@media only screen and (min-width: 1024px) {
  .col-md-fifth {
    max-width: 20%;
  }
}

@media only screen and (min-width: 1200px) {
  .col-lg-fifth {
    max-width: 20%;
  }
}

@media only screen and (min-width: 1600px) {
  .col-xl-fifth {
    max-width: 20%;
  }
}

/* TYPOGRAPHY */
html, body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 16px;
}

@media (min-width: 1900px) {
  html {
    font-size: 1.125rem;
  }
}

body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  color: #181818;
  font-family: "Sora", "Apple SD Gothic Neo", "나눔고딕", "Nanum Gothic", "맑은 고딕", "Malgun Gothic", Arial, sans-serif;
}

/* SELECTED TEXT */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* HEADING */
h1, h2, h3, h4, h5, h6,
.h0, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Sora", "Apple SD Gothic Neo", "나눔고딕", "Nanum Gothic", "맑은 고딕", "Malgun Gothic", Arial, sans-serif;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 0.5rem;
  margin-top: 0;
}

h1, .h1 {
  font-size: 2.827rem;
}

h2, .h2 {
  font-size: 1.999rem;
}

h3, .h3 {
  font-size: 1.414rem;
}

h4, .h4 {
  font-size: 1rem;
}

h5, .h5 {
  font-size: 0.707rem;
}

h6, .h6 {
  font-size: 0.5rem;
}

/* BODY TEXT */
p {
  font-family: "Sora", "Apple SD Gothic Neo", "나눔고딕", "Nanum Gothic", "맑은 고딕", "Malgun Gothic", Arial, sans-serif;
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.5;
}

small, .small {
  font-size: 70.721%;
}

blockquote {
  margin: 0 0 1rem;
}

b, strong {
  font-weight: 600;
}

mark {
  background-color: #fff3cd;
  padding: 0.1875rem;
}

sub, sup {
  font-size: 0.707rem;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25rem;
}

sup {
  top: -0.5rem;
}

abbr[title] {
  cursor: help;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

pre,
code,
kbd,
samp {
  font-family: var(--bs-font-monospace);
  font-size: 1em;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  font-size: 0.875em;
}

pre code {
  font-size: inherit;
  color: inherit;
  word-break: normal;
}

code {
  font-size: 0.875em;
  color: var(--bs-code-color);
  word-wrap: break-word;
}

a > code {
  color: inherit;
}

kbd {
  padding: 0.1875rem 0.375rem;
  font-size: 0.875em;
  color: var(--bs-body-bg);
  background-color: var(--bs-body-color);
  border-radius: 0.25rem;
}

kbd kbd {
  padding: 0;
  font-size: 1em;
}

/* LIST */
ol,
ul {
  padding-left: 2rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

/* TABLE */
table {
  caption-side: bottom;
  border-collapse: collapse;
}

th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}

thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

/* LINKS */
a {
  color: #1266F1;
}

a:hover {
  color: #0a58ca;
}

a:active {
  color: #1266F1;
}

/*
  !NOTE: Do not set visited style globally
  a:visited { }
*/
button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  border: 1px solid;
  box-sizing: border-box;
  font-family: "Sora", "Apple SD Gothic Neo", "나눔고딕", "Nanum Gothic", "맑은 고딕", "Malgun Gothic", Arial, sans-serif;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  text-transform: none;
  transition-property: all;
}

button:focus:not(:focus-visible) {
  outline: 0;
}

[role=button] {
  cursor: pointer;
}

.button, .btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  border: 1px solid;
  box-sizing: border-box;
  font-family: "Sora", "Apple SD Gothic Neo", "나눔고딕", "Nanum Gothic", "맑은 고딕", "Malgun Gothic", Arial, sans-serif;
  min-width: 100px;
  transition-property: all;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
  cursor: pointer;
}

.button {
  background-color: #1B4079;
  border-color: #1B4079;
  color: #FFF;
}

.button:hover {
  background-color: #122a4f;
  border-color: #122a4f;
}

.button:active {
  background-color: #081426;
  border-color: #081426;
}

.btn, .btn-primary {
  background-color: #1B4079;
  border-color: #1B4079;
  color: #FFF;
}

.btn:hover, .btn-primary:hover {
  background-color: #122a4f;
  border-color: #122a4f;
}

.btn:active, .btn-primary:active {
  background-color: #081426;
  border-color: #081426;
}

.btn-secondary {
  background-color: #4D7C8A;
  border-color: #4D7C8A;
  color: #FFF;
}

.btn-secondary:hover {
  background-color: #3b5f69;
  border-color: #3b5f69;
}

.btn-secondary:active {
  background-color: #284149;
  border-color: #284149;
}

.btn-success {
  background-color: #198754;
  border-color: #198754;
  color: #FFF;
}

.btn-success:hover {
  background-color: #115c39;
  border-color: #115c39;
}

.btn-success:active {
  background-color: #09311e;
  border-color: #09311e;
}

.btn-danger {
  background-color: #DA4F49;
  border-color: #DA4F49;
  color: #FFF;
}

.btn-danger:hover {
  background-color: #c72f29;
  border-color: #c72f29;
}

.btn-danger:active {
  background-color: #9d2520;
  border-color: #9d2520;
}

.btn-warning {
  background-color: #FAA732;
  border-color: #FAA732;
  color: #000;
}

.btn-warning:hover {
  background-color: #f39106;
  border-color: #f39106;
}

.btn-warning:active {
  background-color: #c17305;
  border-color: #c17305;
}

.btn-info {
  background-color: #49AFCD;
  border-color: #49AFCD;
  color: #FFF;
}

.btn-info:hover {
  background-color: #3195b2;
  border-color: #3195b2;
}

.btn-info:active {
  background-color: #26738a;
  border-color: #26738a;
}

.btn-light {
  background-color: #F5F5F5;
  border-color: #F5F5F5;
  color: #000;
}

.btn-light:hover {
  background-color: gainsboro;
  border-color: gainsboro;
}

.btn-light:active {
  background-color: #c2c2c2;
  border-color: #c2c2c2;
}

.btn-dark {
  background-color: #363636;
  border-color: #363636;
  color: #FFF;
}

.btn-dark:hover {
  background-color: dimgray;
  border-color: dimgray;
}

.btn-dark:active {
  background-color: #838383;
  border-color: #838383;
}

.btn-outline, .btn-outline:hover, .btn-outline:active, .btn-outline-primary, .btn-outline-primary:hover, .btn-outline-primary:active {
  background-color: transparent;
  border-color: #1B4079;
  color: #1B4079;
}

.btn-outline:hover, .btn-outline-primary:hover {
  opacity: 0.6;
}

.btn-outline-secondary, .btn-outline-secondary:hover, .btn-outline-secondary:active {
  background-color: transparent;
  border-color: #4D7C8A;
  color: #4D7C8A;
}

.btn-outline-secondary:hover {
  opacity: 0.6;
}

.btn-outline-success, .btn-outline-success:hover, .btn-outline-success:active {
  background-color: transparent;
  border-color: #198754;
  color: #198754;
}

.btn-outline-success:hover {
  opacity: 0.6;
}

.btn-outline-danger, .btn-outline-danger:hover, .btn-outline-danger:active {
  background-color: transparent;
  border-color: #DA4F49;
  color: #DA4F49;
}

.btn-outline-danger:hover {
  opacity: 0.6;
}

.btn-outline-warning, .btn-outline-warning:hover, .btn-outline-warning:active {
  background-color: transparent;
  border-color: #FAA732;
  color: #FAA732;
}

.btn-outline-warning:hover {
  opacity: 0.6;
}

.btn-outline-info, .btn-outline-info:hover, .btn-outline-info:active {
  background-color: transparent;
  border-color: #49AFCD;
  color: #49AFCD;
}

.btn-outline-info:hover {
  opacity: 0.6;
}

.btn-outline-light, .btn-outline-light:hover, .btn-outline-light:active {
  background-color: transparent;
  border-color: #F5F5F5;
  color: #F5F5F5;
}

.btn-outline-light:hover {
  opacity: 0.6;
}

.btn-outline-dark, .btn-outline-dark:hover, .btn-outline-dark:active {
  background-color: transparent;
  border-color: #363636;
  color: #363636;
}

.btn-outline-dark:hover {
  opacity: 0.6;
}

.button.disabled,
.btn.disabled {
  background-color: #CCC;
  border-color: #CCC;
}

.btn-link, .btn-link:active {
  background-color: transparent;
  border: 0;
  color: #1266F1;
  min-width: initial;
}

.btn-link:hover {
  background-color: transparent;
  border: 0;
}

/* iOS zoom Fix */
input, select, textarea {
  font-size: 16px;
}

/* Disable iOS input style */
input, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  box-sizing: border-box;
}

/* FORM */
label {
  display: inline-block;
}

input,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

select {
  word-wrap: normal;
  text-transform: none;
}

select:disabled {
  opacity: 1;
}

[list]:not([type=date]):not([type=datetime-local]):not([type=month]):not([type=week]):not([type=time])::-webkit-calendar-picker-indicator {
  display: none !important;
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

textarea {
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  float: left;
  width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  line-height: inherit;
}

legend + * {
  clear: left;
}

::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
  padding: 0;
}

::-webkit-inner-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

::file-selector-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

iframe {
  border: 0;
}

summary {
  display: list-item;
  cursor: pointer;
}

progress {
  vertical-align: baseline;
}

/* CHECKBOX */
/* RADIO BUTTON */
[type=radio]:checked + label,
[type=radio]:not(:checked) + label {
  position: relative;
  cursor: pointer;
}

label {
  line-height: 24px;
  box-sizing: border-box;
}

#main {
  padding: 3rem 0;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

/* ===================================================
GLOBAL HEADER
==================================================== */
.site-global-header {
  box-sizing: border-box;
  min-height: 70px;
  padding: 1rem 0;
  position: relative;
  z-index: 2;
}

@media screen and (min-width: 1200px) {
  .site-global-header {
    height: 150px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
}

/* NAVBAR LAYOUT
==================================================== */
.site-global-header__wrapper {
  height: 100%;
}

.site-global-header__layout {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

/* LOGO
==================================================== */
.site-global-logo {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  text-decoration: none;
  white-space: nowrap;
}

.site-global-logo__link {
  max-width: 120px;
  display: inline-block;
}

.site-global-logo__image {
  height: auto;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .site-global-logo__link {
    max-width: 165px;
  }
}

/* NAV MENU
==================================================== */
.site-global-nav {
  display: flex;
  /* Nav link global style */
  /* Nav link style */
}

.site-global-nav__header {
  display: none;
}

.site-global-nav__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  line-height: normal;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.site-global-nav a,
.site-global-nav a:hover,
.site-global-nav a:active {
  color: #000;
  display: block;
  font-weight: 600;
  text-decoration: none;
}

.site-global-nav__link {
  font-size: 18px;
  padding: 0.5rem 1.125rem;
}

@media screen and (min-width: 1200px) {
  .site-global-nav__list {
    flex-direction: row;
    justify-content: center;
  }
  .site-global-nav__link {
    flex-direction: row;
    font-size: 16px;
    padding: 0.5rem 1rem;
  }
}

@media screen and (min-width: 1600px) {
  .site-global-nav__link {
    font-size: 18px;
    padding: 0.5rem 1.5rem;
  }
}

@media screen and (min-width: 1900px) {
  .site-global-nav__link {
    font-size: 20px;
  }
}

/* MOBILE TOGGLE BUTTON
==================================================== */
.site-global-mobile-menu-toggle {
  display: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  background: none;
  border: 0;
  box-sizing: border-box;
  font-family: Sans-Serif;
  padding: 0;
  position: relative;
  right: 0;
  top: 0;
  z-index: 1046;
  height: 44px;
  width: 44px;
  overflow: hidden;
  transition: all 100ms ease-in-out;
}

@media screen and (max-width: 1199px) {
  .site-global-mobile-menu-toggle {
    display: block;
  }
}

.site-global-mobile-menu-toggle span {
  display: none;
}

.site-global-mobile-menu-toggle svg {
  width: 30px;
  height: auto;
}

.site-global-mobile-menu-toggle::after {
  content: "✕";
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  margin-top: -8px;
  margin-right: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Sans-Serif;
  font-size: 30px;
  font-weight: lighter;
  line-height: 0;
  color: #FFF;
  height: 44px;
  width: 44px;
  opacity: 0;
  transform: translateX(100px);
}

#siteGlobalHeader.opened .site-global-mobile-menu-toggle {
  width: 0;
}

#siteGlobalHeader.opened .site-global-mobile-menu-toggle:after {
  opacity: 1;
  right: 1.5rem;
  transition: all 1s ease-in-out;
  transform: translateX(0px);
}

/* MOBILE MENU
==================================================== */
@media screen and (max-width: 1199px) {
  .site-global-nav {
    background-color: #712cf9;
    display: flex;
    flex-direction: column;
    outline: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    visibility: hidden;
    width: 100%;
    max-width: 414px;
    z-index: 1045;
    transform: translateX(100%);
    transition: transform 300ms ease-in-out;
  }
  #siteGlobalHeader.opened .site-global-nav {
    visibility: visible;
    transform: translateX(0%);
  }
  .site-global-nav a,
.site-global-nav a:hover,
.site-global-nav a:active {
    color: #FFF;
  }
  .site-global-nav__header {
    display: block;
    padding: 1.5rem 1.5rem 0;
    margin-bottom: -1.5rem;
  }
  .site-global-nav__header::after {
    content: "";
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    display: block;
    height: 1px;
    width: 100%;
    padding: 1.5rem 0 0;
  }
  .site-global-nav__header a {
    font-weight: 600;
    font-size: 24px;
  }
  .site-global-nav__body {
    padding: 1.5rem;
  }
  .site-global-nav__list {
    line-height: 55px;
  }
  .site-global-nav__list-item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  .site-global-nav__link {
    padding: 0;
    display: block;
    font-size: 18px;
  }
  .site-global-nav__link:hover {
    opacity: 0.5;
  }
}

/* SUB NAV
==================================================== */
.site-global-subnav {
  display: block;
  line-height: normal;
  padding: 0;
}

.site-global-subnav__link, .site-global-subnav__link:hover, .site-global-subnav__link:active {
  color: #000;
  text-decoration: none;
}

.site-global-subnav__link--store {
  background: transparent;
  border: 0;
  color: #000;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  padding: 0;
}

.site-global-subnav__link--store span {
  display: none;
}

.site-global-subnav__link--store svg {
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 1200px) {
  .site-global-subnav__link--store {
    border: 1px solid;
    padding: 10px 22px;
    width: inherit;
    font-size: 16px;
    font-weight: 600;
  }
  .site-global-subnav__link--store span {
    display: inline-block;
    margin-right: 15px;
  }
  .site-global-subnav__link--store svg {
    width: 22px;
    height: 22px;
    margin-top: -2px;
  }
}

@media screen and (min-width: 1900px) {
  .site-global-subnav__link--store {
    font-size: 18px;
  }
}

@media screen and (min-width: 1900px) {
  .site-global-subnav__link--store {
    font-size: 20px;
  }
}

/* BACKDROP
==================================================== */
@media screen and (max-width: 1199px) {
  .site-global-header__layout::after {
    content: "";
    box-sizing: border-box;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -10;
    visibility: hidden;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 350ms ease-in;
  }
  #siteGlobalHeader.opened .site-global-header__layout::after {
    z-index: 1040;
    opacity: 1;
    visibility: visible;
  }
}

/* MENU ORDER
==================================================== */
@media screen and (max-width: 1199px) {
  .site-global-mobile-menu-toggle {
    position: absolute;
    left: 0;
    top: 8px;
  }
  .site-global-logo {
    margin: auto;
  }
  .site-global-subnav {
    position: absolute;
    right: 0;
    top: 8px;
  }
}

/* OFFCANVAS MOBILE MENU LEFT
==================================================== */
@media screen and (max-width: 1199px) {
  #siteGlobalHeader.offcanvas-left .site-global-nav {
    left: 0;
    right: auto;
    transform: translateX(-100%);
  }
  #siteGlobalHeader.offcanvas-left .site-global-mobile-menu-toggle::after {
    left: -60px;
    right: auto;
    transform: translateX(0);
  }
  #siteGlobalHeader.offcanvas-left.opened .site-global-nav {
    visibility: visible;
    transform: translateX(0%);
  }
  #siteGlobalHeader.offcanvas-left.opened .site-global-mobile-menu-toggle::after {
    transition: all 600ms ease-in-out;
    transform: translateX(414px);
  }
}

@media screen and (max-width: 414px) {
  #siteGlobalHeader .site-global-nav {
    max-width: 100%;
  }
  #siteGlobalHeader.offcanvas-left.opened .site-global-mobile-menu-toggle::after {
    transform: translateX(100vw);
  }
}

.dropdown-menu {
  display: none;
}

/* Site Footer */
.site-global-footer {
  padding: 60px 0;
  width: 100%;
  line-height: 1.5;
  /* Site Footer Menu */
  /* Site Footer notes */
}

.site-global-footer::after {
  clear: both;
  content: "";
  display: table;
}

.site-global-footer__nav {
  display: block;
  list-style: none;
  margin: 0 auto 30px;
  padding: 0;
  text-align: center;
}

.site-global-footer__nav-item {
  display: block;
  margin-bottom: 0.5rem;
}

.site-global-footer__nav-link {
  display: block;
  text-decoration: underline;
}

.site-global-footer__note, .site-global-footer__copyright {
  color: #888;
  margin: 0;
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 1140px) {
  .site-global-footer {
    padding-bottom: 50px;
  }
  .site-global-footer__nav, .site-global-footer__note, .site-global-footer__copyright {
    float: left;
    text-align: left;
  }
  .site-global-footer__nav-item {
    display: inline-block;
    margin-right: 1rem;
  }
}

/* Social Links */
.site-social-links {
  display: block;
  list-style: none;
  margin: 0 0 24px;
  padding: 0;
  text-align: center;
}

.site-social-links__title {
  display: none;
}

.site-social-links strong {
  font-weight: 600;
}

.site-social-links__item {
  display: inline-block;
  margin: 0 0.75rem;
}

.site-social-links__link, .site-social-links__link:hover, .site-social-links__link:visited {
  color: #000;
  display: block;
  font-size: 0;
  text-decoration: none;
  width: 22px;
}

.site-social-links svg {
  height: auto;
  width: 100%;
}

@media screen and (min-width: 1140px) {
  .site-social-links {
    float: right;
    text-align: right;
  }
  .site-social-links__title {
    display: inline-block;
  }
  .site-social-links__item {
    margin: 0 0 0 0.75rem;
    position: relative;
    top: -0.313rem;
  }
}

/* Back to top */
.site-global-back-top {
  text-align: center;
}

.site-global-back-top a {
  display: inline-block;
  margin: 30px auto 0;
  position: relative;
  text-align: center;
  text-decoration: none;
}

@media screen and (min-width: 1140px) {
  .site-global-back-top a {
    bottom: 55px;
    margin: 0;
    position: fixed;
    right: 50px;
    text-align: right;
  }
}

hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: 1px solid;
  opacity: 0.25;
}

figure {
  margin: 0 0 1rem;
}

img,
svg {
  vertical-align: middle;
  max-width: 100%;
}

caption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: rgba(var(--bs-body-color-rgb), 0.75);
  text-align: left;
}